html {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.main {
    background-image: url('../assets/images/facade.jfif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#headerLogin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#loginform {
    width: 25%;
    position: absolute;
    top: 15%;
}

#loginform input {
    font-size: 0.8rem;
    font-family: 'Inter';
    text-align: center;
}

.form-text {
    font-size: 0.5rem;
    letter-spacing: 0.5px;
    color: gray;
    font-family: 'Inter', sans-serif;
}

.form-label, .submitbtn {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.err_text {
    font-size: 0.7rem;
    font-family: 'Poppins';
    text-decoration: dotted;
    background-color: rgb(253, 235, 235);
}


.sidenav {
    width: 15%;
}
.logo {
    width: 90%;
    height: 20%;
    margin: 0 auto;
}
.logo img {
    display: block;
    margin: auto;
    width: 50%;
    height: 100%;
}
#nav {
    padding: 0;
}
#nav > li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
#nav li a {
    text-decoration: none ;
    color: #212121;
    font-family: 'Poppins';
    font-size: 0.7rem;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 30px;
    border-radius: 5px;
    transition: background, padding-left 0.4s;
}
#nav li a:hover {
    background: #78bcf7;
    padding-left: 35px;
}

#transactionSubMenu li a {
    font-size: 0.7rem;
}
#carret, #bcarret {
    transition: all 0.4s;
}


.user_table table tr {
    font-family: 'Inter';
    font-size: 0.8rem;
    box-sizing: border-box;
}
.user_table table th {
    text-align: center;
    box-sizing: border-box;

}
.user_table table td {
    font-family: 'Poppins';
    font-size: 0.7rem;
    padding-left: 18px;
    box-sizing: border-box;
}

.edituser {
    font-size: 0.6rem;
    padding: 0;
}

.editroom {
    font-size: 0.7rem;
    padding: 0;
}

#add_user_form input, #add_user_form label, #add_user_form select {
    font-size: 0.8em;
    font-family: 'Poppins';
}

#add_user_form select { 
    padding: 10px;
}

.errmessage {
    font-size: 0.7rem;
    font-family: 'Poppins';
    background-color: rgb(242, 213, 213);
}
.errmessage p {
    padding: 10px;
}
.succmessage {
    font-size: 0.7rem;
    font-family: 'Poppins';
    background-color: rgb(228, 253, 247);
}
.succmessage p {
    padding: 10px;
}

.room_table table tr td, .room_table table tr th {
    font-family: 'Poppins';
    font-size: 0.7rem;
}
.room_table table tr td {
    padding-left: 20px;
}

.room_table table tr th {
    padding-left: 20px;
}

.borrowform .col select, .borrowform .col button {
    font-size: 0.8rem;
}